<% layout("/layouts/boilerPlate") %>
    <div class="row">
        <div class="col-8 offset-2">

    <h3>Edit your listing </h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 mt-4">
            <label for="title" class="form-label">title</label>
            
            <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea type="text" name="listing[description]" required class="form-control" ><%= listing.description %></textarea>
            <div class="invalid-feedback">please enter the short description</div>

        </div>
        <div class="mb-3">
            <h5>Original Image</h5>
            <img  src="<%= listing.image.url %>" style="width: 500px; border-radius: 10px;" alt="">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload new image</label>
            
            <input type="file"  name="listing[image]" class="form-control" >
            

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>
                
                <input type="number"  required name="listing[price]" class="form-control" value="<%= listing.price %>">
                <div class="invalid-feedback">Price should be a number</div>

            </div>
            <div class="mb-3 col-md-4">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-control" required>
                  <option value="" disabled>Select a category</option>
                  <option value="trending" <%= listing.category === 'trending' ? 'selected' : '' %>>Trending</option>
                  <option value="rooms" <%= listing.category === 'rooms' ? 'selected' : '' %>>Rooms</option>
                  <option value="iconic cities" <%= listing.category === 'iconic cities' ? 'selected' : '' %>>Iconic Cities</option>
                  <option value="mountains" <%= listing.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
                  <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
                  <option value="pools" <%= listing.category === 'pools' ? 'selected' : '' %>>Amazing Pools</option>
                  <option value="camping" <%= listing.category === 'camping' ? 'selected' : '' %>>Camping</option>
                  <option value="farm" <%= listing.category === 'farm' ? 'selected' : '' %>>Farm</option>
                  <option value="arctic" <%= listing.category === 'arctic' ? 'selected' : '' %>>Arctic</option>
                </select>
                <div class="invalid-feedback">Please select a valid category</div>
            </div>
            
    
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>
                <input type="text" required name="listing[country]" class="form-control" value="<%= listing.country %>">
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            
            <input type="text" required name="listing[location]" class="form-control" value="<%= listing.location %>">
            <div class="invalid-feedback">Location should be valid</div>

        </div>
    <button class="btn btn-dark edit-btn mb-3">Edit</button>
    </form>
</div>
</div>
<!-- <script src="/javascripts/script.js"></script> -->